[Unit]
Description=Deployment Agent Listener
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/$USERNAME
ExecStart=/home/$USERNAME/go/bin/deployment-agent serve --watch-config
Restart=on-abort

[Install]
WantedBy=multi-user.target
