[Unit]
Description=Deployment Agent Listener for %I
After=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=/home/%i
ExecStart=/usr/local/bin/deployment-agent serve --watch-config
Restart=on-abort

[Install]
WantedBy=multi-user.target
